button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #007bff;
}

.header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
    background-color: peachpuff;
}

.morseDisplay {
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
}